<%- include('../partials/header') %>

<main class="main" id="main">

    <div class="container">
        <h2 class="text-center text-capitalize">Add an actor 🎭</h2>

        <form 
            action="http://localhost:1995/actor-form" 
            method="post"
            class="form"
            id="actorForm"    
        >
        
            <div class="row mb-3">
                <div class="col">
                    <label 
                        for="first_name"    
                        class="form-label">
                        First Name:
                    </label>
                    <input 
                        type="text" 
                        name="first_name" 
                        id="first_name"
                        class="form-control"
                    />
                </div>
                <div class="col">
                    <label 
                        for="last_name"    
                        class="form-label">
                        Last Name:
                    </label>
                    <input 
                        type="text" 
                        name="last_name" 
                        id="last_name"
                        class="form-control"
                    />
                </div>
            </div>

            <button 
                class="btn btn-primary"
                type="submit"
                role="button"
            >Add Actor</button>

        </form>

    </div>

</main>

<%- include('../partials/footer') %>