<%- include('../partials/header') %>

    <main class="main" id="main">

        <div class="container">

            <img src="https://www.teixeira-soft.com/bluescreen/wp-content/uploads/2016/03/unknown-error-funny-error-messages.jpg" alt="funny error message, this page does not exist">

        </div>

    </main>

<%- include('../partials/footer') %>