<%- include('../partials/header') %>

<main class="main" id="main">

    <div class="container">
        <h2 class="text-center text-capitalize">Add a Producer 🎥</h2>

        <form 
            action="http://localhost:1995/api/production/create" 
            method="post"
            class="form"
            id="productionCompanyForm"    
        >
        
            <div class="row mb-3">
                <div class="col">
                    <label 
                        for="production"    
                        class="form-label">
                        Company Name:
                    </label>
                    <input 
                        type="text" 
                        name="production" 
                        id="production"
                        class="form-control"
                    />
                </div>
            </div>

            <button 
                class="btn btn-primary"
                type="submit"
                role="button"
            >Add Production Company</button>

        </form>

    </div>

</main>

<%- include('../partials/footer') %>